<div class="container box" style="margin-top: 30px;">
  <h2 class="text-center"> {{ event.name }} </h2>
  <div class="container" style="width: 400px; max-width: 100%; margin-top: 30px;">
  <table>
    <tr>
      <td><p><b>Organizátor</b></p></td>
      <td><p> {{ event.organisator }} </p></td>
    </tr>
    <tr>
      <td><p><b>Miesto</b></p></td>
      <td><p> {{ event.place }} </p></td>
    </tr>
    <tr>
      <td><p><b>Dátum</b></p></td>
      <td><p> {{ event.date }} </p></td>
    </tr>
    <tr>
      <td><p><b>Druh akcie</b></p></td>
      <td><p> {{ event.type }} </p></td>
    </tr>
    <tr>
      <td><p><b>Cieľ akcie</b></p></td>
      <td><p> {{ event.goal }} </p></td>
    </tr>
    <tr>
      <td><p><b>Zobrať so sebou</b></p></td>
      <td><p> {{ event.take_with }} </p></td>
    </tr>
  </table>
  </div>
</div>

<div class="container box" style="margin-top: 30px">
  <h3 class="text-center">Účasť na akcií</h3>
  <p>Zatiaľ žiadna..</p>
</div>