<div class="container box">
    <h3 class="text-center"> <b>P</b>rvý <b>I</b>nformačný <b>S</b>ystém</h3>

    <div class="container img-front">
        <img src="../../assets/bipi100.png" class="img-front" alt="Baden Powell" />
    </div>
    

    <div class="container" style="width: 50%;">
        <p>
            Vitajte na stránke Prvého zboru. Táto stránka slúži na vytváranie akcií a následné značenie dochádzky na nich.<br><br>
            Užívajte v mieri.
        </p>
    </div>
    
</div>



